### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.zimrc
!/.vimrc
!/brew/
!/brew/**
!/configs/
!/configs/**
!/home-manager/
!/home-manager/**
!/images/
!Makefile
!/.claude/
!/.agents/

!/README.md
!/LICENSE
!init.sh
!install.sh
!.gitignore
!.gitkeep
!/flake.nix
!/flake.lock
!.github/
!.github/**
!Dockerfile
!.dockerignore
