### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.zimrc
!/.vimrc
!/.config/
!/.codex/
!/images/
!Makefile
!.gemini/

!/README.md
!/LICENSE
!init.sh
!install.sh
!.gitignore
!.gitkeep
!.github/
!.github/**
!Dockerfile
!.dockerignore