*
!settings.json
!statusline-command.sh
!/skills/
!/skills/**
!/hooks/
!/hooks/**
!/commands/
!/commands/**
!/agents/
!/agents/**

# https://github.com/gsd-build/get-shit-done
/hooks/gsd*.js
/commands/gsd/
/agents/gsd-*.md

# internal
/skills/superpod
