!gh/
!gh/config.yml

!git/

!sheldon/
!sheldon/plugins.toml

!mise/
!mise/config.toml

!pypoetry/
!pypoetry/config.toml

!starship/
!starship/starship.toml


!bat/
!bat/config

!zsh/

!nvim/

!brew/
!brew/Brewfile

!zellij/
!zellij/config.kdl